<div class="nav-position">
    <div class="navbar-cont">
        <div class="nav-words">
           <a id="h01" href="/"><h1>ABDULLAH.</h1></a>
        <a id="home" href="/">Home</a>
        <a id="project" style="margin-left:-80px;" href="/Project">Project</a>
        <a id="contact" style="margin-left:-80px;" href="/Contact">Contact</a>
        <a id="about" style="margin-left:-80px;" href="/About">About Me</a>
        <a id="btn" href="/hire"><button>Hire Me</button></a>
        </div>
</div>