<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <link rel="stylesheet" href="styleabout.css">
    <title>About</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>

        <div class="box1">
            <div class="body-words">
                <h2>About Me</h2>
                
                <p>I'm Abdullahi Alabi </p>
                <p>I'm an aspiring backeend developer specialized in Node.js<br>
                    I am passionate about building robust and scalable web applications<br>
                    and excited to cotribute my skills to the development community.
                </p>
                <a href="#" style="color:white; text-decoration: none;">view selected projects ➡ </a> <br>
            </div>
            <div class="body-img">
                <img class="img1" src="Abdul.jpg" alt="my-personal-picture">
            </div>
        </div>
        <div class="box2">
            <p id="p01">Got an amazing project? I can help you</p>
            <div class="line"></div>
            <div class="together">
                <div class="together1">
                    <div>
                        <p style=" color: gray;">Follow me</p>
                    </div>
                    <div class="images">
                        <a href="#"><img style="width: 20; color: blue;" src="logo-linkedin.svg" alt="linkedin-logo"></a>
                        <a href="#"><img style="width: 20; color: blue;" src="logo-twitter.svg" alt="twitter-logo"></a>
                        <a href="#"><img style="width: 20; color: blue;" src="img_github_logo.png" alt="github-logo"></a>
                    </div>
                </div>
            
                <div class="together2">
                    <p style=" color: gray;">Message Me<br>
                        <a style="text-decoration:none; color: gray; margin-top: 5px;" href="mailto:abdullahialabi234@gmail.com">Abdullahialabi234@gmail.com</a>
                    </p>
                
                </div>
            </div>
        </div>
    </div>

        <script>
            
            gsap.from('.img1',{
            x:150,
            opacity:0,
            duration:2,
        });
        </script>
</body>
</html>