<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="stylehome.css">
    <title>Homepage</title>
</head>
<body>
    
    <%- include('./partials/nav.ejs')%>
        <div class="box1">
            <div class="body-words">
                <h2>Hello there</h2>
        
                <p>Have you ever had numerous number of ideas of how you want your website to be? </p>
                <p>You know, a good website gives a company good reputation anywhere to.<br>
                    "Behind every seamless user experience, there's a robust backend orchestrating<br>
                    the magic!"
                </p>
                <p style="color:white;">This is where you need me </p> 
            </div>
            <img class="img1" src="Frame 74.png"> 
        </div>
        

    <!-- SELECTED PROJECT -->
    <div class="selected">
        <p style="text-align:center; font-weight: bolder;">Selected Projects</p>
    </div>
    <!-- Helix Project -->
    <div class="helix-box1">
        <div class="helix-img1">
            <img src="Helix Picture.png"  id="img">
        </div>
        <div class="helix-words1">
            <h3>Helix</h3>
            <p>A project management software designed to help<br>
                user track projects, tasks and schedules and manage<br>
                their project efficiently
            </p>
            <a style="text-decoration: none; font-weight: bold" href="https://www.behance.net/gallery/148593725/Pricing-Page-%28Project-management-software%29">View On Github</a>
        </div>
    </div>  

    <!-- AGRO FAM -->

    <div class="helix-box2">
        <div class="helix-words2">
            <h3>Agro Fam</h3>
            <p>A website for Agricultural-based brand that help make<br> 
                farming easier for farmers and can also help initiate aspiring <br>
                farmer
            </p>
            <a style="text-decoration: none; font-weight: bold" href="https://www.behance.net/gallery/148494073/landing-page-for-AgroFam">View On Github</a>
        </div>
        <div class="helix-img2">
            <img src="AgroFam Picture 1.png" id="img" alt="Agrofam">
        </div>
    </div>

    <!-- Whatsapp(Re-design) -->

    <div class="helix-box3">
        <div class="helix-img3">
            <img src="WhatsApp Light Picture 1.png"  id="img">
        </div>
        <div class="helix-words3">
            <h3>Whatsapp (Re-design)</h3>
            <p>Whatsapp for android re-design(the light theme) for<br>
                    easier communication with friends,families and other<br>
                    users.
            </p>
            <a style="text-decoration: none; font-weight: bold" href="https://www.behance.net/gallery/148412719/Whatsapp-for-Android-%28Light-mode%29">View On Github</a>
        </div> 
    </div>

    </div>
    
    <!-- Whatsapp (dark Re-design) -->
    
    <div class="helix-box4">
        <div class="helix-words4">
            <h3>Whatsapp (Re-design)</h3>
            <p>Whatsapp for android re-design(the dark theme) for<br>
                easier communicationwith friends,families and other<br>
                users.
            </p>
            <a style="text-decoration: none; font-weight: bold" href="https://www.behance.net/gallery/148424273/Whatsapp-for-Android-%28Dark-mode%29">View On Github</a>
        </div>
        <div class="helix-img4">
            <img src="WhatsApp Dark Picture 1.png"  id="img" alt="Agrofam">
        </div>
    </div>

    <!-- NFT Website -->
    <div class="helix-box5">
        <div class="helix-img5">
            <img src="NFT Picture 1.png"  id="img">
        </div>
        <div class="helix-words5">
            <h3>NFT Website (Re-design)</h3>
             <p>A NFT website redesign with the story and information<br>
                about the team members including their goals and other<br>
                 neccessary information 
            </p>
            <a style="text-decoration: none; font-weight: bold;" href="#">View On Github</a>
        </div>
    </div>


        <!-- FOOTER -->
        <div id="footer">
            <footer>
                <div class="box2">
                    <p id="p01">Got an amazing project? I can help you</p>
                    <div class="line"></div>
                    <div class="together">
                        <div class="together1">
                            <p style=" color: gray;">Follow me</p>
                            <div class="images">
                                <a target="_blank" href="https://www.linkedin.com/in/alabi-abdullahi-7a313523a? utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><img style="width: 20; color: blue;"src="logo-linkedin.svg" alt="linkedin-logo"></a>
                                <a target="_blank" href="www.twitter.com/dev_deji"><img style="width: 20; color: blue;" src="logo-twitter.svg" alt="x(twitter-logo)"></a>
                                <a target="_blank" href="https://www.github.com/AlabiAbdullah1"><img style="width: 20; color: blue;" src="img_github_logo.png" alt="github-logo"></a>
                            </div>
                        </div>
        
                        <div class="together2">
                            <p style=" color: gray;">Message Me<br>
                            <a style="text-decoration:none; color: gray; margin-top: 5px;" href="mailto:abdullahialabi234@gmail.com">abdullahialabi234@gmail.com</a>
                            </p>
                        </div>
                    </div>  
                </div>
            </footer>
        </div>
    </div>

</body>
</html>